 
<!-- BACKGROUND IMAGE -->
<div class="background-sky hero"></div>

<section id="intro">
   <!-- LOGO -->
 <div class="hero-logo">
    <img src="../../assets/angular.svg" width="250" height="250">
  </div>
  <!-- CONTAINER -->
  <div class="homepage-container">
    <div class="hero-headline no-toc">One framework.<br>Mobile &amp; desktop.</div>
    <a class="button hero-cta" href="guide/quickstart">Get Started</a>
       
  </div>
</section>
<div class="row" style="    margin-top: 106px;">

    <div class="col-6" style="padding-left: 400px;" >
        <img height="222" width="340" src="../../assets/responsive-framework.svg" alt="responsive framework">
    </div>
  
    <div class="col-6">
      <div style="    font-size: 20px; font-weight: 500; color: #1976d2;  padding-top: 51px;"> DEVELOP ACROSS ALL PLATFORMS</div>
      <div>Learn one way to build applications with Angular and reuse <br> your code and abilities to build apps for any deployment <br> For web, mobile web, native mobile and native desktop.</div>
     
    </div>
    

</div>