.footer {
    position: relative;
    line-height: 24px;
    flex: 1;
    padding: 48px;
    z-index: 0;
    background-color: #1976d2;
    color: #fafafa;
    font-weight: 300;
   /* background: url(../assets//angular_whiteTransparent_withMargin.png) top 0 left 0/320px auto,url(../assets//angular_whiteTransparent_withMargin.png) top 80px left 160px/320px auto;
*/
}