<header class="marketing-banner">
  <h1 class="banner-headline no-toc no-anchor" id="features--benefits">Events</h1>
</header>
<div style="margin-left: 50px;margin-right: 30px;">
  <div class="row" style="padding-top: 30px;padding-bottom: 20px;">Where we'll be presenting:</div>
  <div class="row" style="box-shadow: 0 1px 1px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  border-radius: 2px;
  background: #fafafa;padding: 18px;">
    <div class="col-4">EVENT</div>
    <div class="col-4">LOCATION</div>
    <div class="col-4">DATE</div>
  </div>
  <div class="row" style="box-shadow: 0 1px 1px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  border-radius: 2px;">
    <div class="col-4" style="background: rgba(219,219,219,.2);
    border-right: 1px solid #dbdbdb;
    font-weight: 600;padding: 10px;">ngAtlanta</div>
    <div class="col-4" style="padding: 10px;">Atlanta, Georgia</div>
    <div class="col-4" style="padding: 10px;">January 9 - 12, 2019</div>
  </div>
  <div class="row" style="    padding-top: 20px;
  padding-bottom: 20px;">Where we already presented:</div>
  <div class="row" style="box-shadow: 0 1px 1px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  border-radius: 2px;
  background: #fafafa;padding: 18px;">
    <div class="col-4">EVENT</div>
    <div class="col-4">LOCATION</div>
    <div class="col-4">DATE</div>
  </div>
  <div class="row" style="box-shadow: 0 1px 1px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  border-radius: 2px;">
    <div class="col-4" style="background: rgba(219,219,219,.2);
    border-right: 1px solid #dbdbdb;
    font-weight: 600;padding: 10px;">ReactiveConf</div>
    <div class="col-4" style="padding: 10px;">Prague, Czech Republic</div>
    <div class="col-4" style="padding: 10px;">October 29-31, 2018</div>
  </div>
  <div class="row" style="box-shadow: 0 1px 1px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  border-radius: 2px;">
    <div class="col-4" style="background: rgba(219,219,219,.2);
    border-right: 1px solid #dbdbdb;
    font-weight: 600;padding: 10px;">AngularConnect</div>
    <div class="col-4" style="padding: 10px;">London, United Kingdom</div>
    <div class="col-4" style="padding: 10px;">November 5-7, 2018</div>
  </div>
  <div class="row" style="box-shadow: 0 1px 1px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  border-radius: 2px;">
    <div class="col-4" style="background: rgba(219,219,219,.2);
    border-right: 1px solid #dbdbdb;
    font-weight: 600;padding: 10px;">AngularMix</div>
    <div class="col-4" style="padding: 10px;">Orlando, Florida </div>
    <div class="col-4" style="padding: 10px;">October 10-12, 2018</div>
  </div>
  <div class="row" style="box-shadow: 0 1px 1px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  border-radius: 2px;">
    <div class="col-4" style="background: rgba(219,219,219,.2);
    border-right: 1px solid #dbdbdb;
    font-weight: 600;padding: 10px;">Angular Conf Australia</div>
    <div class="col-4" style="padding: 10px;">Melbourne, Australia</div>
    <div class="col-4" style="padding: 10px;">Jun 22, 2018</div>
  </div>
  <div class="row" style="box-shadow: 0 1px 1px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  border-radius: 2px;">
    <div class="col-4" style="background: rgba(219,219,219,.2);
    border-right: 1px solid #dbdbdb;
    font-weight: 600;padding: 10px;">ng-japan</div>
    <div class="col-4" style="padding: 10px;">Tokyo, Japan</div>
    <div class="col-4" style="padding: 10px;">Jun 16, 2018
    </div>
  </div>
  <div class="row" style="box-shadow: 0 1px 1px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  border-radius: 2px;">
    <div class="col-4" style="background: rgba(219,219,219,.2);
    border-right: 1px solid #dbdbdb;
    font-weight: 600;padding: 10px;">WeAreDevelopers</div>
    <div class="col-4" style="padding: 10px;">Vienna, Austria</div>
    <div class="col-4" style="padding: 10px;">May 16-18, 2018</div>
  </div>
</div>